USE [PoZ]
GO
/****** Object:  Table [dbo].[Partner$]    Script Date: 27.11.2025 19:58:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partner$](
	[id] [float] NULL,
	[id_TypePartner] [float] NULL,
	[Name] [nvarchar](255) NULL,
	[Director] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[NumberPartner] [nvarchar](255) NULL,
	[Adress] [nvarchar](255) NULL,
	[INN] [float] NULL,
	[Rating] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartnerProduct$]    Script Date: 27.11.2025 19:58:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartnerProduct$](
	[id] [float] NULL,
	[Name] [nvarchar](255) NULL,
	[id_Partner] [float] NULL,
	[quantity] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product$]    Script Date: 27.11.2025 19:58:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product$](
	[id] [float] NULL,
	[id_TypeProduct] [float] NULL,
	[Name] [nvarchar](255) NULL,
	[Articyl] [float] NULL,
	[MinSumPartner] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeMaterical$]    Script Date: 27.11.2025 19:58:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeMaterical$](
	[id] [float] NULL,
	[Name] [nvarchar](255) NULL,
	[ProcentAmountMaterical] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypePartner$]    Script Date: 27.11.2025 19:58:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypePartner$](
	[id] [float] NULL,
	[Name] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeProduct$]    Script Date: 27.11.2025 19:58:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeProduct$](
	[id] [float] NULL,
	[Name] [nvarchar](255) NULL,
	[KoTypeProduct] [float] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Partner$] ([id], [id_TypePartner], [Name], [Director], [email], [NumberPartner], [Adress], [INN], [Rating]) VALUES (1, 1, N'Стройдвор', N'Андреева Ангелина Николаевна', N'angelina77@kart.ru', N'492 452 22 82', N'143001, Московская область, город Одинцово, уд. Ленина, 21', 9432455179, 5)
INSERT [dbo].[Partner$] ([id], [id_TypePartner], [Name], [Director], [email], [NumberPartner], [Adress], [INN], [Rating]) VALUES (2, 1, N'Самоделка', N'Мельников Максим Петрович', N'melnikov.maksim88@hm.ru', N'812 267 19 59', N'306230, Курская область, город Обоянь, ул. 1 Мая, 89', 7803888520, 3)
INSERT [dbo].[Partner$] ([id], [id_TypePartner], [Name], [Director], [email], [NumberPartner], [Adress], [INN], [Rating]) VALUES (3, 2, N'Деревянные изделия', N'Лазарев Алексей Сергеевич', N'aleksejlazarev@al.ru', N'922 467 93 83', N'238340, Калининградская область, город Светлый, ул. Морская, 12', 8430391035, 4)
GO
INSERT [dbo].[PartnerProduct$] ([id], [Name], [id_Partner], [quantity]) VALUES (1, N'Плитка Мозаика 10x10 см цвет белый глянец', 15, 2000)
INSERT [dbo].[PartnerProduct$] ([id], [Name], [id_Partner], [quantity]) VALUES (2, N'Ламинат Дуб Античный серый 32 класс толщина 8 мм с фаской', 2, 3000)
INSERT [dbo].[PartnerProduct$] ([id], [Name], [id_Partner], [quantity]) VALUES (3, N'Фанера ФСФ 1800х1200х27 мм бежевая береза', 3, 1000)
GO
INSERT [dbo].[Product$] ([id], [id_TypeProduct], [Name], [Articyl], [MinSumPartner]) VALUES (1, 1, N'Фанера ФСФ 1800х1200х27 мм бежевая береза', 6549922, 5100)
INSERT [dbo].[Product$] ([id], [id_TypeProduct], [Name], [Articyl], [MinSumPartner]) VALUES (2, 2, N'Мягкие панели прямоугольник велюр цвет оливковый 600х300х35 мм', 7018556, 1880)
INSERT [dbo].[Product$] ([id], [id_TypeProduct], [Name], [Articyl], [MinSumPartner]) VALUES (3, 4, N'Бетонная плитка Белый кирпич микс 30х7,3 см', 5028272, 2080)
GO
INSERT [dbo].[TypeMaterical$] ([id], [Name], [ProcentAmountMaterical]) VALUES (1, N'Тип материала 1', 0.002)
INSERT [dbo].[TypeMaterical$] ([id], [Name], [ProcentAmountMaterical]) VALUES (2, N'Тип материала 2', 0.005)
INSERT [dbo].[TypeMaterical$] ([id], [Name], [ProcentAmountMaterical]) VALUES (3, N'Тип материала 3', 0.003)
GO
INSERT [dbo].[TypePartner$] ([id], [Name]) VALUES (1, N'ЗАО')
INSERT [dbo].[TypePartner$] ([id], [Name]) VALUES (2, N'ООО')
INSERT [dbo].[TypePartner$] ([id], [Name]) VALUES (3, N'ПАО')
GO
INSERT [dbo].[TypeProduct$] ([id], [Name], [KoTypeProduct]) VALUES (1, N'Древесно-плитные материалы', 1.5)
INSERT [dbo].[TypeProduct$] ([id], [Name], [KoTypeProduct]) VALUES (2, N'Декоративные панели', 3.5)
INSERT [dbo].[TypeProduct$] ([id], [Name], [KoTypeProduct]) VALUES (3, N'Плитка', 5.25)
GO
